
/* Font-Family */

/* "Open Sans", sans-serif */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Parkinsans:wght@300..800&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* "Playfair Display", serif */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Parkinsans:wght@300..800&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Font-Family */

/* Colors */
:root{
  --blue: #0058e6;
  --sky : #e6f0ff;
  /* --bg_col: ; */
  --white: #ffffffff ;
  --txt_col: #667995 ;
}
/* Colors */

/* All Selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* All Selector */

/* body */
body{
    font-family: sans-serif;
}
/* body */

/* Container */
.wrapper{
    max-width: 85rem;
    width: 95%;
    margin-inline: auto;
}
/* Container */

/* Hero-Title */
.hero_title{
    font: 75px "poppins", sans-serif;
    color: #001f4f;
    font-weight: 600;
}

/* section-title */
.sec_title{
    font: 50px "open sans", sans-serif;
    color: #001f4f;
}
/* section-title */

/* section-paragraph */
.sec_paragraph{
    font: 25px "playfair display", serif;
    color: #667995;
}
/* section-paragraph */

/* buttons */
.btn_blue{
    padding: 18px 30px 18px 32px;
    background-color: var(--blue);
    color: var(--white);
    box-shadow: 0 4px 4px 0 var(--blue);
    border: none;
    border-radius: 10px;
    font: 18px "poppins",sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.btn_white{
    padding: 12px 24px;
    background-color: var(--white);
    color: #001f4f;
    box-shadow: 0 0 5px  rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 10px;
    font: 14px "poppins",sans-serif;
    font-weight: 600;
    cursor: pointer;
}
/* buttons */

/* Hidden */
.hide{
    display: none;
}
/* Hidden */
  