@media screen and (max-width: 1330px) {
    .hero{
        flex-direction: column;
        
    }

    .hero .right{
        grid-template-columns: auto;
    }

    .hero .right .bottom-right{
        background-color: var(--blue);
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        border-radius: 14px;
        position: relative;
    }

   
}

@media screen and (max-width: 800px){
    header section .wrapper nav ul{
        display: none;
        
    }
   

    header section .wrapper nav button{
        display: none;
    }

    header section .wrapper nav .menu{
        display: block;
        font-size: 40px;
        color: var(--txt_col);
    }
    
}