@import url(./common.css);
@import url(./responsive.css);

header .wrapper nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

header section{
    /* background-color: var(--bg_col) ; */
    max-width: 118rem;
    width: 97%;
    margin-inline: auto;
    margin-top: 1rem;
    /* height: 85vh; */
    border-radius: 16px;
    background-image: linear-gradient(var(--sky), var(--white));
}

header .wrapper nav img{
    width: 120px;
    height: 50px;
    
}



header .wrapper nav ul{
    display: flex;
    gap: 1.6rem;
    list-style: none;
    font: 16px "poppins",serif;
    font-weight: 600;
    background: url(/img/notch.webp)  ;
    background-size: contain;
    background-position: auto;
    background-repeat: no-repeat;
    padding: 6px 60px ;
    height: 50px;
    border-top: 1px solid var(--white);

}


/* FAO */

/* header .wrapper nav ul::before,
header .wrapper nav ul::after
{
    content: "";
    position: absolute;
    width: 1rem;
    height: 3.6rem;
    background: var(--sky);
    border-radius: 200vw;
    /* background: red; */
/* } */

/* header .wrapper nav ul::before{
    right: -10px;
    top: 0.5px;
}

header .wrapper nav ul::after{
    right: 20.5rem;
    top: 0.5px;
/* } */ 



header .wrapper nav ul li .active{
    color: var(--blue);
}

header .wrapper nav ul li a{
    text-decoration: none;
    color: var(--txt_col);
}

.hero {
    display: flex;
    gap: 10rem;
}

.hero .left{
    padding-top: 8rem;
}

.hero .left .left-bottom{
    padding-top: 3rem;
    display: flex;
    gap: 5rem;
    
    
}

.hero .left .left-bottom .left-bottom-title h4{
    font: 20px "poppins",sans-serif;
    font-weight: 600;
    color: #001f4f;
}

.hero .left .left-bottom .left-bottom-title h6{
    font: 18px "poppins",sans-serif;
    font-weight: 600;
    color: #667995;
}

.hero .right{
    display: grid;
    padding-top: 8rem;
    gap: 1rem;    
}

.hero .right .top{
    max-width: 500px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.hero .right img{
    width: 95%;
   
}

.hero .right .bottom-left{
    background-color: var(--blue);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 12;
    border-radius: 14px;
}

.hero .right .bottom-right{
    background-color: var(--blue);
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 12;
    border-radius: 14px;
    position: relative;
}

.hero .right .bottom-right h2{
    color: var(--white);
    font: 30px "poppins",sans-serif;
    font-weight: 600;
    position: absolute;
    top: 20px;
    right: 225px;
}

.slider{
    padding: 12rem 0;
    overflow: hidden;
}

.slider .slide-track{
    display: flex;
    width: calc(180px * 18);
    align-items: center;
    gap: 8rem;
    animation: scroll 50s linear forwards;
    transition: 1s;
}

.slider .slide-track:hover{
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-180px * 9));
    }

    0% {
        transform: translateX(0);
    }
}

.slider .slide-track img{
    width: 180px;
    cursor: pointer;
    transition: 600ms;
}

.slider .slide-track img:hover{
    transform: scale(1.2);
}